.input-header {
  width:280px ;
  height: 40px;
}
.custom {
    font-size: 75%;
    bottom: 0;
    float: right;
    margin: 5px;
    height: 100%;
    width: auto;
    font-size:auto;
}

.custom:hover {
    opacity: 1;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
.modal input[type=text], .modal input[type=password], .modal input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #d2d2e0;
  font-size:100%;
  border-radius:10px ;
}

/* Add a background color when the inputs get focus */
.modal input[type=text]:focus, .modal input[type=password], .modal input[type=email]:focus {
  background-color: #D2D2D2;
  outline: none;
  border-radius:10px ;
}

/* Set a style for all buttons */
.acceptbutton {
  background-color: #04AA6D;
  border-radius: 10px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size:100%;
}

.modal button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  border-radius: 10px;
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size:100%;
  padding: 14px 20px;
  background-color: #f44336;
}

.signupbtn {
  border-radius: 10px;
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size:100%;
  padding: 14px 20px;
 background-color: #04AA6D;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  max-width: 1200px;
  color:#d2d2e0;
  background-color: #212529;
  border-radius:20px;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  font-size:100%;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #444B5A;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */


/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}