.input-header {
    min-height:40px;
    height: 30px;
    margin-right:5px;
    border-radius:10px;
    width: 220px;
    font-size: medium;
    
}

.input-header:hover {
    color:black;
    height: 50px;
    width: 250px;
    font-size: x-large;
}

.custom {
    float: right;
    margin: 10px;
    height: 60px;
    width: 150px;
}

.custom:hover {
    margin-bottom: 0px;
    margin-right: 0px;
    height: 70px;
    width: 175px;
}